.App {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.App > div {
    width: 600px;
    box-sizing: border-box;
    text-align: center;
}

.App input {
    width: 70%;
}

.App input:focus {
    outline: none !important;
}

.App button {
    background-color: none;
    margin-left: 5px;
}

.App button:focus {
    outline: none;
}

.App ul {
    list-style-type: none;
    text-align: left;
    text-indent: 12px;
    text-transform: capitalize;
    font-weight: 400;
    color: green;
    overflow-wrap: break-word;
    padding-right: 40px;
}



